In [1]:
import pandas as pd
import xml.etree.ElementTree as et
file_path = "product_data\categories\categories_0001_abcat0010000_to_pcmcat99300050000.xml"
file_as_frame = pd.read_xml(file_path)
file_as_frame.head(5)

             id                name  path  subCategories
0  abcat0010000         Gift Center   NaN            NaN
1  abcat0011000                 Her   NaN            NaN
2  abcat0011001       Leisure Gifts   NaN            NaN
3  abcat0011002  Kitchen Essentials   NaN            NaN
4  abcat0011003         Electronics   NaN            NaN

In [2]:
parsed_tree = et.parse(file_path)
root = parsed_tree.getroot()
all_data = []

for category in root.iter("category"):
    if len(category) > 2 :

        category_data = []
        name = category.find("name").text
        Id = category.find("id").text
        level = [None for i in range(5)]
        i = 0
        for category_level in category[2]:
            category_id = category_level.find("id").text
            level[i] = category_id
            if i <4:
                i+=1
        category_data = [name, Id] + level
        all_data.append(category_data)

new_data_frame = pd.DataFrame(all_data, columns=['Name', 'Id', 'level 1', 'level 2',
'level 3', 'level 4', 'level 5'])
new_data_frame.head(30)

,Name,Id,level 1,level 2,level 3,level 4,level 5
0,Gift Center,abcat0010000,cat00000,abcat0010000,None,None,None
1,Her,abcat0011000,cat00000,abcat0010000,abcat0011000,None,None
2,Leisure Gifts,abcat0011001,cat00000,abcat0010000,abcat0011000,abcat0011001,None
3,Kitchen Essentials,abcat0011002,cat00000,abcat0010000,abcat0011000,abcat0011002,None
4,Electronics,abcat0011003,cat00000,abcat0010000,abcat0011000,abcat0011003,None
5,"Music, Movies & More",abcat0011004,cat00000,abcat0010000,abcat0011000,abcat0011004,None
6,Him,abcat0012000,cat00000,abcat0010000,abcat0012000,None,None
7,Home Theater,abcat0012001,cat00000,abcat0010000,abcat0012000,abcat0012001,None
8,Electronics,abcat0012002,cat00000,abcat0010000,abcat0012000,abcat0012002,None
9,Computing,abcat0012003,cat00000,abcat0010000,abcat0012000,abcat0012003,None
10,"Music, Movies & More",abcat0012004,cat00000,abcat0010000,abcat0012000,abcat0012004,None
11,Teens,abcat0013000,cat00000,abcat0010000,abcat0013000,None,None
12,Electronics,abcat0013001,cat00000,abcat0010000,abcat0013000,abcat0013001,None
13,Gaming,abcat0013002,cat00000,abcat0010000,abcat0013000,abcat0013002,None
14,Computing,abcat0013003,cat00000,abcat0010000,abcat0013000,abcat0013003,None
15,"Music, Movies & More",abcat0013004,cat00000,abcat0010000,abcat0013000,abcat0013004,None
16,Kids,abcat0014000,cat00000,abcat0010000,abcat0014000,None,None
17,Electronics,abcat0014001,cat00000,abcat0010000,abcat0014000,abcat0014001,None
18,"Music, Movies & More",abcat0014002,cat00000,abcat0010000,abcat0014000,abcat0014002,None
19,Gaming,abcat0014003,cat00000,abcat0010000,abcat0014000,abcat0014003,None
20,Toys,abcat0020000,cat00000,abcat0010000,abcat0014000,abcat0020000,None
21,Learning Toys,abcat0020001,cat00000,abcat0010000,abcat0014000,abcat0020000,abcat0020001
22,DVD Games,abcat0020002,cat00000,abcat0010000,abcat0014000,abcat0020000,abcat0020002
23,Animated Friends,abcat0020003,cat00000,abcat0010000,abcat0014000,abcat0020000,abcat0020003
24,Unique Gifts,abcat0020004,cat00000,abcat0010000,abcat0020004,None,None
25,Prepaid Cards,abcat0020006,cat00000,abcat0010000,abcat0020006,None,None
26,TV & Home Theater,abcat0100000,cat00000,abcat0100000,None,None,None
27,TVs,abcat0101000,cat00000,abcat0100000,abcat0101000,None,None
28,All Flat-Panel TVs,abcat0101001,cat00000,abcat0100000,abcat0101000,abcat0101001,None
29,Rear Projection TVs,abcat0101002,cat00000,abcat0100000,abcat0101000,abcat0101002,None